#trends {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

#glasspane {
	position: fixed;

	height: 100%;
	width: 100%;

	background-color: #99999933;

	z-index: 10000;
}

.loading {
	width: 320px;

	color: black;
	background-color: white;

	font-weight: bold;
	font-size: 100%;

	padding: 1em;
	margin-left: calc(50vw - 160px);
	margin-top: calc(40vh);

	text-align: center;

	border-radius: 1em;
	border: 2px solid gray;

	-webkit-box-shadow: -1px 10px 25px -11px rgba(0,0,0,0.75);
	-moz-box-shadow:    -1px 10px 25px -11px rgba(0,0,0,0.75);
	box-shadow:         -1px 10px 25px -11px rgba(0,0,0,0.75);
 }

.vscomp-dropbox-container  {
  z-index:99999 !important;

}
